*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(/public/hero.jpg);
  background-size: cover;
}
.container{
  width: 40%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0,0, .6);
  background-color: #2169747b;
  height: 100%;
  text-align: center;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
input{
  width: 70%;
  border-radius: 10px;
  border: 1px solid #86c2cb;
  outline: none;
  padding: 5px;
  color: gray;
}
.container button{
  border-radius: 50%;
  border: 1px solid #86c2cb;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.container i{
  font-size: 12px;
  color: #86c2cb;
  padding: 5px;
}
h1{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
}
p{
  margin-bottom: 5px;
  font-size: 16px;
}
.temp{
  font-size: 30px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  h1{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}
p{
  margin-bottom: 5px;
  font-size: 13px;
}
.temp{
  font-size: 25px;
  font-weight: bold;
}
}